/* ===== BODY LAYOUT ===== */
body {
  margin: 0;
  font-family: sans-serif;
  background: white;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
}

/* ===== STATUS ===== */
.status {
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: bold;
  text-align: center;
}

/* ===== RESULTAAT ===== */
.result-screen {
  margin-top: 2rem;
  text-align: center;
}

.result-text.ok {
  color: green;
  font-size: 4rem;
  font-weight: bold;
}

.result-text.no {
  color: red;
  font-size: 3.5rem;
  font-weight: bold;
}

.scanned-info {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

/* ===== MODUS KNOPPEN ===== */
.mode-bar {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.mode-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid #00bfff;
  cursor: pointer;
}

.mode-btn.active.enkel {
  background: #00bfff;
  color: white;
  border-color: #00bfff;
}

.mode-btn.active.meerdere {
  background: orange;
  color: white;
  border-color: orange;
}

/* ===== RESET KNOP ===== */
.reset-btn {
  width: 90%;
  max-width: 400px;
  padding: 1.2rem;
  font-size: 1.5rem;
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.reset-btn.danger {
  background-color: red;
  color: white;
}

.hidden {
  display: none;
}
